<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs', {pageTitle: "Match View"}) %>
  <body>
    <%- include('partials/nav.ejs') %>
    <div class="container">
      <h1 class="header">
        Match #<%- match.id %> | 
        <%- match.players.map((p,idx)=>
        "<span class='pill player"+idx+"'>"+players.at(p)?.name+"</span>").join(", ") %> | <%=
        match.currentPlayer!==undefined ? "Ongoing" : "Finished" %>
      </h1>
      <a class="btn" href="#!" onClick="history.go(0);">Refresh</a>
      <table>
        <% match.moves.reduceRight( (_,move) => { %>
        <tbody class="movebody">
          <% let hevent = move.events.at(0); %>
          <tr class="moveheader player<%= hevent.currentPlayerIndex %>">
            <td class="bar"></td>
            <td>
              <span class="eventType"><%= hevent.eventType %></span>
              <div class="datepill"><%= move.at?.toLocaleTimeString() %></div>
            </td>
            <td><%= JSON.stringify(fnSanitizeEvent(hevent)) %></td>
          </tr>
          <% move.events.slice(1).reduceRight( (_,event) => { %>
          <tr class="player<%= event.currentPlayerIndex %>">
            <td class="bar"></td>
            <td><%= event.eventType %></td>
            <td><%= JSON.stringify(fnSanitizeEvent(event)) %></td>
          </tr>
          <% }, null); %>
        </tbody>
        <% }, null); %>
      </table>
    </div>
  </body>
</html>
