<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs', {pageTitle: "Matches"}) %>
  <body>
    <%- include('partials/nav.ejs') %> <% function matchTable(title, doFilterFinished) { %>
    <div class="container">
      <h1 class="header"><%= title %></h1>
      <table>
        <% matches.filter(match=>((doFilterFinished && match.isFinished) || (!doFilterFinished &&
        !match.isFinished)) ).forEach(function(match){ %>
        <tr>
          <td>
            <a class="btn" href="/matches/<%= match.id %>">
              <%= match.startedAt?.toLocaleString() %>
            </a>
          </td>
          <% for (const player of match.players) { %>
          <td>
            <%- (match.currentPlayer !== player.id) ? player?.name : "<b>"+player?.name+"</b>"; %>
          </td>
          <% }; %>
          <td><%= match.id %></td>
        </tr>
        <% }); %>
      </table>
    </div>
    <% }; %> <%= matchTable("Matches", null) %>
  </body>
</html>
