<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs', {pageTitle: "Matches"}) %>
  <body>
    <%- include('partials/nav.ejs') %> <% function matchTable(title, hasValidCurrent) { %>
    <div class="container">
      <h1 class="header"><%= title %></h1>
      <table>
        <% matches.filter(match=>((hasValidCurrent && match.currentPlayer!==undefined) ||
        (!hasValidCurrent && match.currentPlayer===undefined)) ).forEach(function(match){ %>
        <tr>
          <td>
            <a class="btn" href="/matches/<%= match.id %>"> #<%= match.id %> </a>
          </td>
          <td><%= match.startedAt.toLocaleTimeString() %></td>
          <td><%= match.moves.length %></td>
          <td>
            <%- match.players.map((player, idx)=>{ return (match.currentPlayer !== player) ?
            players.at(player)?.name : "<b>"+players.at(player)?.name+"</b>";}).join(" | "); %>
          </td>
        </tr>
        <% }); %>
      </table>
    </div>
    <% }; %> <%# === ONGOING MATCHES === %> <%= matchTable("Ongoing Matches", true) %> <%# ===
    FINISHED MATCHES === %> <%= matchTable("Finished Matches", false) %>
  </body>
</html>
