<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs', {pageTitle: "Match View"}) %>
  <body>
    <%- include('partials/nav.ejs') %>
    <div class="container">
      <h1 class="header">
        Match <% match.players?.forEach((p,idx)=> { %>
        <span
          class="pill player<%=idx%> <%= (match?.currentPlayerId?.toString()==p?'activePlayer':'') %> <%= (matchinfo?.winner==p?.toString()?'winningPlayer':'') %>"
          ><%= getPlayer(p)?.name %></span
        >
        <% }); %>
        <span class="badge"><%= match.isFinished ? "Finished" : "Ongoing" %></span>
        <span class="badge"><%= match._id %></span>
      </h1>

      <%# ====================================================================================== %>
      <%# === MATCH STATE display ============================================================== %>
      <% function displayCards(cards, showcards) { %> (<%= cards?.length %>) <% if (showcards) { %>
      [ <% cards?.forEach((card,idx)=> { %> <%= card.suit %>-<%= card.value %> <% }); %> ] <% } %>
      <%}%> <% function displayCardBank(bank) { %> (<%= bank.flatSize %>, $<%= bank.bankvalue %>) [
      <% bank.piles?.forEach((pile,idx)=> { %> <%= idx %>: <%= pile.toJSON() %> <% }); %> ] <%}%> <%
      function getUserByIdx(idx) { return getPlayer(match.players.at(idx)) } %>
      <div id="matchstate">
        <% if (!match.isFinished) { %>
        <div>
          <b>lastmove</b>: <% const firstevent = match?.move?.events?.at(0); %> <%=
          firstevent?.eventType %> by <%= getUserByIdx(firstevent.currentPlayerIndex)?.name %>
          <b>currentplayer</b>: <%= getPlayer(match?.currentPlayerId)?.name %>
        </div>
        <div>
          <b>playarea</b>: <% displayCards(matchinfo.playArea?.cards, true) %> <% if
          (matchinfo.pendingEffect) { %> <b>pendingEffect</b>: <%=
          matchinfo.pendingEffect?.effectType %> <%= JSON.stringify(matchinfo.pendingEffect) %> <% }
          %>
        </div>
        <div>
          <b>drawpile</b>: <% displayCards(match?.state?.drawPile?.cards,
          viewoptions?.debug_showstacks) %>
        </div>
        <div>
          <b>discardpile</b>: <% displayCards(match?.state?.discardPile?.cards,
          viewoptions?.debug_showstacks) %>
        </div>
        <% } else { %>
        <div>
          <b>winner</b> <%= getPlayer(matchinfo.winner)?.name %> <b>scores</b> <%= matchinfo.scores
          %>
        </div>
        <% } %> <%### BANKs ####%><% match.players?.forEach((p,idx)=> { %>
        <div class="player<%= idx %>">
          <b><%= getUserByIdx(idx)?.name %>'s bank</b>: <% displayCardBank(match.state?.banks[idx]) %>
        </div>
        <%})%>
      </div>

      <%# ====================================================================================== %>
      <%# RELOAD button %>
      <a class="btn" href="#!" onClick="history.go(0);">Refresh</a>

      <%# ====================================================================================== %>
      <%# MOVES detailed %>
      <table>
        <% moves?.reduce( (_,move) => { %>
        <tbody class="movebody">
          <% let hevent = move.events.at(0); %>
          <tr class="moveheader player<%= hevent.currentPlayerIndex %>">
            <td class="bar"></td>
            <td colspan="2">
              <span class="eventType"><%= hevent.eventType %></span>
              <div class="datepill"><%= move.at %></div>
            </td>
          </tr>
          <% move.events.reduce( (_,event) => { %>
          <tr class="player<%= event.currentPlayerIndex %>">
            <td class="bar"></td>
            <td><%= event.eventType %></td>
            <td><%= JSON.stringify(fnSanitizeEvent(event)) %></td>
          </tr>
          <% }, null); %>
        </tbody>
        <% }, null); %>
      </table>
    </div>
  </body>
</html>
